body {
    background: #1d1918;
}

canvas {
    background: #1d1918;
    margin-bottom: 2em;
}

#dashboard {
    color: white;
    font: 24px sans-serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#dashboard div {
    margin: 1em;
    display: inline-flex;
}

#dateDetail {
    color: white;
    font: 10px sans-serif;
}

#dateDetail button {
    color: white;
    background-color: #1d1918;
    font: 10px sans-serif;
    border-radius: 3px;
    border-width: 1px;
    margin-left: 1em;
}