body {
    background: #1d1918;
}

canvas {
    background: #1d1918;
    margin-bottom: 2em;
}

.vgroup {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.vgroup .vitem {
    margin: 1em;
    display: block;
}

.hgroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hgroup .hitem {
    margin: .25em .5em;
    display: inline-flex;
}

#dashboard {
    color: white;
    font: 24px sans-serif;
    width: 100%;
}

.loc {
    font-size: 14px;
    text-align: center;
}

#dateDetail {
    color: white;
    font: 10px sans-serif;
}

#dateDetail button {
    color: white;
    background-color: #1d1918;
    font: 10px sans-serif;
    border-radius: 3px;
    border-width: 1px;
    margin-left: 1em;
}